<h1>Contact # <%= @contact.id %></h1>

<section>
  <ul>
  <li> Name: <%= @contact.full_name %> </li>
  <li> Email: <%= @contact.email %> </li>
  <li> Note: <%= @contact.note %> </li>
  </ul>
</section>
