<h1>Contact # <%= @contact.id %></h1>

<section class="show_contact">
  <ul>
  <li class="name"> <span>Name:</span> <%= @contact.full_name %> </li>
  <li class="email"> <span>Email:</span> <%= @contact.email %> </li>
  <li class="note"> <span>Note:</span> <%= @contact.note %> </li>
  </ul>
</section>
